<!DOCTYPE html>
<html>
<head>
  <title>Upload Form</title>
</head>
<body>
  <h1>Submit Info</h1>
  <form action="/submit" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="text" name="phone" placeholder="Phone" required><br>

    <p>Upload Image:</p>
    <input type="file" name="image"><br><br>

    <p>OR Enter Image URL:</p>
    <input type="text" name="imageUrl" placeholder="http://example.com/image.jpg"><br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
